<div>
  <div class="wrappercock">
    <h1>surfers cocktail club</h1>
   <div class="cocktail">
     <div class="liquid"></div>
     <div class="ice-cubes">
       <div class="ice-cube ice-cube-1"></div>
       <div class="ice-cube ice-cube-2"></div>
       <div class="ice-cube ice-cube-3"></div>
     </div>
     <div class="lemon-slice"></div>
     <div class="leaves">
       <div class="leave leave-1"></div>
       <div class="leave leave-2"></div>
       <div class="leave leave-3"></div>
     </div>
     <div class="straw"></div>
     <div class="straw-surface"></div>
     <div class="shadow"></div>
    </div>
  </div>
  <div class="text-center">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-4">
            <div class="container">
              <div class="card">
                <div class="front"><strong><%= cocktail.name %></strong></div>
                  <% if cocktail.photo.present? %>
                    <div class="back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
                      url('<%= cl_image_path cocktail.photo, height: 300, width: 450, crop: :fill %>')">
                        <ul>
                          <h6><strong><%= link_to cocktail.name, cocktail_path(cocktail)  %></strong></h6>
                          <% cocktail.doses.each do |dose| %>
                            <p>
                              <%= dose.ingredient.name %>
                              <%= dose.description %>
                            </p>
                          <% end %>
                        <%= link_to "ADD", new_cocktail_dose_path(cocktail), class:"btn btn-success"  %>
                      </ul>
                    </div>
                  <% else %>
                    <div class="back">
                        <ul>
                          <h6><strong><%= link_to cocktail.name, cocktail_path(cocktail)  %></strong></h6>
                          <% cocktail.doses.each do |dose| %>
                            <p>
                              <%= dose.ingredient.name %>
                              <%= dose.description %>
                            </p>
                          <% end %>
                        <%= link_to "ADD", new_cocktail_dose_path(cocktail), class:"btn btn-success"  %>
                      </ul>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>




