<div>
  <div class="wrappercock">
    <h1>surfers cocktail club</h1>
   <div class="cocktail">
     <div class="liquid"></div>
     <div class="ice-cubes">
       <div class="ice-cube ice-cube-1"></div>
       <div class="ice-cube ice-cube-2"></div>
       <div class="ice-cube ice-cube-3"></div>
     </div>
     <div class="lemon-slice"></div>
     <div class="leaves">
       <div class="leave leave-1"></div>
       <div class="leave leave-2"></div>
       <div class="leave leave-3"></div>
     </div>
     <div class="straw"></div>
     <div class="straw-surface"></div>
     <div class="shadow"></div>
    </div>
  </div>
  <div class="text-center">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-4">
            <div class="container">
              <div class="card">
                <div class="front"><%= cocktail.name %></div>
                  <div class="back">
                    <ul>
                      <h6><strong><%= cocktail.name %></strong></h6>
                      <% cocktail.doses.each do |dose| %>
                        <p>
                          <%= dose.ingredient.name %>
                          <%= dose.description %>
                        </p>
                      <% end %>
                    <%= link_to "ADD", new_cocktail_dose_path(cocktail), class:"btn btn-success"  %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>





